@import "chartist/dist/chartist.css";
@tailwind preflight;
body {
    min-height: 100vh;
}
.table td, .table th{
    @apply .border .px-2 .py-1;
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 10px;
    overflow: hidden;
}
  
.level {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 20px;
}
  
.score {
    padding: 10px 5px;
    border-radius: 2px;
    line-height: 1;
    margin-bottom: 10px;
    font-size: 24px;
}
  
.cell-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    justify-content: center;
    transform: skewX(-4deg);
}
.cell {
    cursor: pointer;
    padding: 10px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell .only-parent-hover {
    display: none;
}
.cell:hover .only-parent-hover {
    display: block;
}
.sign-container {
    height: 100%;
    width: 100%;
}
.cell svg {
    height: 100%;
    width: 100%;
  }
  .cell.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
@media screen and (min-width: 480px) {
    .cell-container {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }
    .score {
      padding: 15px 20px;
      border-radius: 5px;
      font-size: 32px;
    }
}
@media screen and (min-width: 768px) {
    .cell-container {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(3, 150px);
    }
}


.ct-series .ct-line {
    stroke: currentColor
}
.ct-series .ct-point {
    stroke: currentColor
}
.ct-series .ct-area {
    fill: currentColor
}
.ct-series.ct-series-a .ct-area, .ct-series.ct-series-a .ct-point, .ct-series.ct-series-a .ct-line {
    @apply .text-blue;
}

.ct-series.ct-series-b .ct-area, .ct-series.ct-series-b .ct-point, .ct-series.ct-series-b .ct-line {
    @apply .text-teal;
}

.ct-series.ct-series-c .ct-area, .ct-series.ct-series-c .ct-point, .ct-series.ct-series-c .ct-line  {
    @apply .text-purple;
}

.spinner::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    border: 2px solid whitesmoke;
    border-bottom-color: transparent;
    animation: rotate 0.7s infinite linear;
}
@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}
@tailwind components;

@tailwind utilities;

